    QUESTION 1

list is mutuable ,tuple is immutable 
list is declared by [],tuple is declared using()
list is  used when day may change ,tuple is used when data may not change

In [9]:
l=['a','b','c','d']
print(type(l))
print(l)
t=('a','b','c','d',)
print(type(t))
print(t)

<class 'list'>
['a', 'b', 'c', 'd']
<class 'tuple'>
('a', 'b', 'c', 'd')

QUESTION 2


using the input() function we are taking input from the user in python 
it returns an str data type 
to convert the data type into integer we use type casting 

example 
type(int(input()))

In [12]:
type(int(input()))

 1

int

QUESTION 3


dictionary in python is a data type used to store values in key and value pair it helps in making data frames
and is immutable

In [24]:
dic={'name':['allo','bhindi','baigan'],
          'age':[12,14,16],
          'address':['noida','delhi','gr noida']}
dic
type(dict)

dict

QUESTION 4

a for loop in python is used to run a particular statement atlest once before terminatingg

In [19]:
for i in range (6):
    print(i)

0
1
2
3
4
5

QUESTION 5

exception handling in python is used to handle or fix the unwanted errors that occur during the 
execution of a program it can be runtime or compile time

try is used to highlight the part of code that might throw an error (code that might throw an error)

except is used to handle the error that might occur in the try block (code that will handle the error)

In [20]:
try:
    x = 10 / 0
except:
    print("An error occurred.")
finally:
    print('this is the finally block')

An error occurred.
this is the finally block

QUESTION 6

python modules are basically a collection of libraries that have inbuilt functions and methods for example 
numpy module ,pandas etc

difference between 'import math' and 'from math import sqrt' is that  by importing the math module we are calling all the functions in that module where as 'from math import sqrt ' we are only importing the sqrt method it is more efficient that importing the whole module

In [22]:
import random
a=random.randint(10,20)
a

17

QUESTION 7

object oriented programing means using the pillas of oops  like encapsulation,abstraction,polymorphism, and 
inheritance
oops includes creation of objects and classes

In [32]:
class DOG:
    def bark(self):
        print('dog is barking')

In [33]:
pug=DOG()

In [34]:
pug.bark()

dog is barking

QUESTION 8

List comprehension is used to create new lists 
by applying expressions and conditions.

QUESTION 9

In [39]:
def calculate_area(radius):
    area = 3.14 * radius ** 2
    return area

result = calculate_area(5)
print("Area of the circle with radius 5 is:", result)

Area of the circle with radius 5 is: 78.5

QUESTION 10

In [40]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print(f"Hello {name}, you are {age} years old!")

Enter your name:  niyati
Enter your age:  19

Hello niyati, you are 19 years old!

QUESTION 11

In [45]:
fruits = ['apple', 'banana', 'mango', 'orange']

for i in range(len(fruits)):
    print(f"{i + 1}. {fruits[i]}")

1. apple
2. banana
3. mango
4. orange
5. grape

QUESTION 12

In [48]:
def grade_calculator(score):
    if 90 <= score <= 100:
        return 'A'
    elif 80 <= score <= 89:
        return 'B'
    elif 70 <= score <= 79:
        return 'C'
    elif 60 <= score <= 69:
        return 'D'
    else:
        return 'F'

name = input("Enter student name: ")
roll = input("Enter roll number: ")
marks = int(input("Enter marks (0–100): "))

grade = grade_calculator(marks)

print(f"\nStudent Name: {name}")
print(f"Roll Number: {roll}")
print(f"Marks: {marks}")
print(f"Grade: {grade}")

Enter student name:  niy
Enter roll number:  101
Enter marks (0–100):  79

Student Name: niy
Roll Number: 101
Marks: 79
Grade: C

QUESTION 13

In [70]:
f=open('numbers.txt',mode='r')
print('done')

done

In [67]:

lines = f.readlines()

total = sum(int(line) for line in lines)

print("Total sum:", total)

Total sum: 0

In [69]:
f = open('numbers.txt', mode='r')

lines = f.readlines() 

total = sum(int(line.strip()) for line in lines)

print("Total sum:", total)

f.close()

Total sum: 0

QUESTION 14

BONUS QUESTION

In [82]:
for num in range(2, 51): 
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47